/*--- METODOS ---*/

@mixin medida-0(){
    margin: 0;
    padding: 0;
}

@mixin tamano($width){
    width: $width;
}

@mixin margin-right-left(){
    margin-right: 10%;
    margin-left: 10%;
}

@mixin animacion-borde(){
    animation-name: borde;
    animation-duration: 30s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

/*--- MAPAS ---*/

$colores: (
    hover: goldenrod,
    carritoHover: rgb(228, 94, 16),
    blanco: white,
    grisClaro: lightgray,
    grisIntermedio1:rgb(163, 160, 160),
    grisIntermedio2:rgb(119, 119, 119),
    grisIntermedio3:rgb(85, 85, 85),
    grisIntermedio4:rgb(54, 54, 54),
    negro: black
);

$bordes:(
    groove: groove,
    solid: solid,
    double: double
);

*{
    @include medida-0;
}

/* --- HEADER ---*/

.contenedorHeader{
    display: grid;
    grid-template-columns: 50% 50%;
    @include tamano(100%);
    height: 10%;
}

.ch1{
    margin: 3% 3% 3% 15%;
}

.ch2{
    margin: 5% 10% 0 0;
}

header div ul{
    @include medida-0;
    list-style: none;
}

header div ul li{
    float: right;
    padding: 0 10px 0 10px;
}

header ul li a{
    text-decoration: none;
    color: map-get($colores, $key:negro );
}

header ul li a:hover{
    color: map-get($colores, $key:hover );
}

header button svg:hover{
    color: map-get($colores, $key:carritoHover );
    @include tamano(25px);
    height: 25px;
}

.contenido{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include tamano(100%);
    height: 9%;
    background-color: map-get($colores, $key:blanco );
    padding-bottom: 6%;
}

.c1{
    margin-top: 2%;
    background-color: map-get($colores, $key:blanco );
    display: flex;
    justify-content: left;
    padding-left: 5%;
}

.c2{
    display: flex;
    justify-content: center;
}

.c3{

    list-style: none;
    padding-top: 4%;
    display: flex;
    justify-content: right;
}

/* --- TAMAÑO IMAGENES SLIDES "CONOCENOS" ---*/

.imagenTrayectoria{
    height: 90%; 
    margin: 2% 2% 3% 5%;
    @include tamano(90%);
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    @include tamano(5%);
    height: 5%;
}

.navbar-logo img{
    display: block;
    @include tamano(80%);
    height: auto;
}

/*--- FOOTER---*/

.iconos{
    margin: 5px;
}

.footContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 25% 10%;
    @include tamano(100%);
    height: 20%;
    background-color: map-get($colores, $key:grisClaro );
    border-top: 3px map-get($bordes , $key:double );
}

.fcCaja{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    
}

footer div ul{
    @include medida-0;
    list-style: none;
}

footer div ul li{
    float: right;
    padding: 0 10px 0 10px;
}

footer ul li a{
    text-decoration: none;
    color: map-get($colores, $key:negro );
}

footer ul li a:hover{
    color: map-get($colores, $key:hover );
}

.linea{
    border-left: 1px map-get($bordes, $key:solid ) map-get($colores, $key:negro );
    padding: 0 20px 0 20px;
}

.fc1{
    display: flex;
    justify-content: center;
}

.fc1 h5{
    text-align: center;
    padding-top: 1%;
}

.fc2{
    display: flex;
    justify-content: center;
}

.fc3 h6{
    text-align: center;
}

footer a svg:hover{
    @include tamano(80%);
    height: 80%;
}

/*--- CATALOGO (TODOS COMPONENTES DEL MAIN) ---*/

.contenedorCarta{
    margin: 3% 12% 3% 12%;
}

.carta{
    margin: 0 3% 0 3%;
}

.contenedorCartalinea{
    margin: 3% 0 3% 0;
}


/*--- CONOCENOS ---*/

.caja{
    display: grid;
    grid-template-columns: 45% 45%;
    @include tamano(100%);
    height: auto;
    margin-top: 1%;
}

.caja1{
    border-top: map-get($bordes, $key:groove );
    margin-left: 10%;
    @include animacion-borde();
}

.caja2{
    border-top: map-get($bordes, $key:groove );
    animation-name: borde;
    @include animacion-borde();
}

.caja3{
    border-top: map-get($bordes, $key:groove );
    margin: 7% 0 0 10%;
    @include animacion-borde();
}

.caja4{
    border-top: map-get($bordes, $key:groove );
    margin-top: 7%;
    @include animacion-borde();
}

.caja5{
    border-top: map-get($bordes, $key:groove );
    margin: 7% 0 0 10%;
    @include animacion-borde();
}

.caja6{
    border-top: map-get($bordes, $key:groove );
    margin-top: 7%;
    @include animacion-borde();
}

p{
    text-align: justify;
}

h2{
    text-align: center;
}

/*--- UBICACION ---*/

.contenidoUbicacion{
    display: grid;
    grid-template-columns: 45% 45%;
    @include tamano(100%);
    height: 69%;
    margin-top: 1%;

}

.cajaUbicacion1{
    border-top: map-get($bordes, $key:groove );
    display: flex;
    justify-content: center;
    margin-left: 10%;
    @include animacion-borde();
}

.cajaUbicacion1 img{
    @include tamano(80%);
    height: 60%;
    padding-top: 10%;
}

.cajaUbicacion2{
    padding-top: 10%;
    border-top: map-get($bordes, $key:groove );
    @include animacion-borde();
}

/*--- CONTENIDO CONTACTO ---*/

.complemento{
    padding: 5% 0 10% 0;
}

.contacto{
    display: grid;
    grid-template-columns: 45% 45%;
    @include tamano(100%);
    height: 69%;
    margin: 1% 0 5% 0;
}

.contacto1{
    border-top: map-get($bordes, $key:groove );
    display: flex;
    justify-content: center;
    margin-left: 10%;
    @include animacion-borde();
}

.contacto2{
    padding-top: 5%;
    border-top: map-get($bordes, $key:groove );
    @include animacion-borde();
}


/*--- ANIMACIÓN BORDES DE CAJA1 A CAJA6 ---*/

@keyframes borde{
    0%{
        border-top: map-get($colores, $key:grisClaro ) map-get($bordes, $key:groove );
    }
    20%{
        border-top: map-get($colores, $key:grisIntermedio1 ) map-get($bordes, $key:groove );
    }
    40%{
        border-top: map-get($colores, $key:grisIntermedio2 ) map-get($bordes, $key:groove );
    }
    60%{
        border-top: map-get($colores, $key:grisIntermedio3 ) map-get($bordes, $key:groove );
    }
    80%{
        border-top: map-get($colores, $key:grisIntermedio4 ) map-get($bordes, $key:groove );
    }
    100%{
        border-top: map-get($colores, $key:negro ) map-get($bordes, $key:groove );
    }
}

/*--- MEDIA QUERIE "MOBILE VIEW" ---*/

@media only screen and (max-width:480px) {
    .caja{
        grid-template-columns: repeat(1, 1fr);
    }

    .caja1{
        border-top: map-get($bordes, $key:groove );
        margin-right: 10%;
    }
    
    .caja2{
        border-top: map-get($bordes, $key:groove );
        @include margin-right-left();
    }

    .caja3{
        border-top: map-get($bordes, $key:groove );
        @include margin-right-left();
    }

    .caja4{
        border-top: map-get($bordes, $key:groove );
        @include margin-right-left();
    }

    .caja5{
        border-top: map-get($bordes, $key:groove );
        @include margin-right-left();
    }

    .caja6{
        border-top: map-get($bordes, $key:groove );
        @include margin-right-left();
    }

    .contenedorHeader{
        margin-bottom: 10%;
    }

    .contenidoUbicacion{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30%;
    }

    .cajaUbicacion1{
        border-top: map-get($bordes, $key:groove );
        display: flex;
        justify-content: center;
        @include margin-right-left();
    }

    .cajaUbicacion1 img{
        @include tamano(100%);
        height: 80%;
    }

    .cajaUbicacion2{
        padding-top: 10%;
        border-top: map-get($bordes, $key:groove );
        @include margin-right-left();
    }

    .contenido{
        margin-bottom: 5%;
    }

    .contacto{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 70%;
    }
    
    .contacto1{
        border-top: map-get($bordes, $key:groove );
        display: flex;
        justify-content: center;
        @include margin-right-left();
    }

    .contacto1 img{
        @include tamano(100%);
        height: 80%;
    }
    
    .contacto2{
        padding-top: 10%;
        border-top: map-get($bordes, $key:groove );
        @include margin-right-left();
    }


    header ul li a:hover{
        color: map-get($colores , $key:hover );
    }
}

@media only screen and (max-width:305px) {
    .contenedorHeader{
        margin-bottom: 50px;
    }

    .contenidoUbicacion{
        margin-bottom: 100px;
        overflow: hidden;
    }
}