@mixin medida-0(){
    margin: 0;
    padding: 0;
}

@mixin tamano($width){
    width: $width;
}

*{
    @include medida-0;
}

$colores: (
    hover: goldenrod,
    carritoHover: rgb(228, 94, 16),
    blanco: white,
    grisClaro: lightgray
);

/* --- HEADER ---*/

.contenedorHeader{
    display: grid;
    grid-template-columns: 50% 50%;
    @include tamano(100%);
    height: 10%;
}

.ch1{
    margin: 3% 3% 3% 15%;
}

.ch2{
    margin: 5% 10% 0 0;
}

header div ul{
    @include medida-0;
    list-style: none;
}

header div ul li{
    float: right;
    padding: 0 10px 0 10px;
}

header ul li a:hover{
    color: map-get($colores, $key:hover );
}

header button svg:hover{
    color: map-get($colores, $key:carritoHover );
    @include tamano(25px);
    height: 25px;
}

.contenido{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include tamano(100%);
    height: 9%;
    background-color: map-get($colores, $key:blanco );
    padding-bottom: 6%;
}

.c1{
    margin-top: 2%;
    background-color: map-get($colores, $key:blanco );
    display: flex;
    justify-content: left;
    padding-left: 5%;
}

.c2{
    display: flex;
    justify-content: center;
}

.c3{

    list-style: none;
    padding-top: 4%;
    display: flex;
    justify-content: right;
}


/* --- Tamaño imagenes slides "Conocenos" ---*/

.imagenTrayectoria{
    height: 90%; 
    margin: 2% 2% 3% 5%;
    @include tamano(90%);
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    @include tamano(5%);
    height: 5%;
}

.navbar-logo img{
    display: block;
    @include tamano(80%);
    height: auto;
}

/*--- FOOTER---*/

.iconos{
    margin: 5px;
}

.footContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 25% 10%;
    @include tamano(100%);
    height: 20%;
    background-color: map-get($colores, $key:grisClaro );
    border-top: 3px double;
}

.fc1{
    display: flex;
    justify-content: center;
}

.fc1 h5{
    text-align: center;
    padding-top: 1%;
}

.fc2{
    display: flex;
    justify-content: center;
}

.fc3 h6{
    text-align: center;
}

footer a svg:hover{
    @include tamano(80%);
    height: 80%;
}

/*--- Catalogo (Todos componentes del main) ---*/

.contenedorCarta{
    margin-top: 3%;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 3%;
}

.carta{
    margin-right: 3%;
    margin-left: 3%;
}

.contenedorCartalinea{
    margin-top: 3%;
    margin-bottom: 3%;
}


/*--- CONOCENOS ---*/

.caja{
    display: grid;
    grid-template-columns: 45% 45%;
    @include tamano(100%);
    height: auto;
    margin-top: 1%;
}

.caja1{
    border-top: groove;
    margin-left: 10%;
}

.caja2{
    border-top: groove;
}

.caja3{
    border-top: groove;
    margin-top: 7%;
    margin-left: 10%;
}

.caja4{
    border-top: groove;
    margin-top: 7%;
}

.caja5{
    border-top: groove;
    margin-top: 7%;
    margin-left: 10%;
}

.caja6{
    border-top: groove;
    margin-top: 7%;
}

p{
    text-align: justify;
}

h2{
    text-align: center;
}

/*--- UBICACION ---*/

.contenidoUbicacion{
    display: grid;
    grid-template-columns: 45% 45%;
    @include tamano(100%);
    height: 69%;
    margin-top: 1%;

}

.cajaUbicacion1{
    border-top: groove;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.cajaUbicacion1 img{
    @include tamano(80%);
    height: 60%;
    padding-top: 10%;
}


.cajaUbicacion2{
    padding-top: 10%;
    border-top: groove;
}

/*--- CONTENIDO CONTACTO ---*/

.complemento{
    padding-top: 5%;
    padding-bottom: 10%;
}

/*--- CONTENIDO CONTACTO ---*/

.contacto{
    display: grid;
    grid-template-columns: 45% 45%;
    @include tamano(100%);
    height: 69%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.contacto1{
    border-top: groove;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.contacto2{
    padding-top: 5%;
    border-top: groove;
}

/*MEDIA QUERIE "MOBILE VIEW"*/

@media only screen and (max-width:480px) {
    .caja{
        grid-template-columns: repeat(1, 1fr);
    }

    .caja1{
        border-top: groove;
        margin-right: 10%;
    }
    
    .caja2{
        border-top: groove;
        margin-right: 10%;
        margin-left: 10%;
    }

    .caja3{
        border-top: groove;
        margin-right: 10%;
        margin-left: 10%;
    }

    .caja4{
        border-top: groove;
        margin-right: 10%;
        margin-left: 10%;
    }

    .caja5{
        border-top: groove;
        margin-right: 10%;
        margin-left: 10%;
    }

    .caja6{
        border-top: groove;
        margin-right: 10%;
        margin-left: 10%;
    }

    .contenedorHeader{
        margin-bottom: 10%;
    }

    .contenidoUbicacion{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30%;
    }

    .cajaUbicacion1{
        border-top: groove;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .cajaUbicacion1 img{
        @include tamano(100%);
        height: 80%;
    }

    .cajaUbicacion2{
        padding-top: 10%;
        border-top: groove;
        margin-left: 10%;
        margin-right: 10%;
    }

    .contenido{
        margin-bottom: 5%;
    }

    .contacto{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 70%;
    }
    
    .contacto1{
        border-top: groove;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .contacto1 img{
        @include tamano(100%);
        height: 80%;
    }
    
    .contacto2{
        padding-top: 10%;
        border-top: groove;
        margin-left: 10%;
        margin-right: 10%;
    }


    header ul li a:hover{
        color: map-get($colores , $key:hover );
    }
}

@media only screen and (max-width:305px) {
    .contenedorHeader{
        margin-bottom: 50px;
    }

    .contenidoUbicacion{
        margin-bottom: 100px;
        overflow: hidden;
    }
}